body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
    display: block;
    margin: 8px;
}

h1 {
    text-align: center;
    display: block;
    font-size: 2 em;
    font-weight: bold;
    color: rebeccapurple;
    text-decoration: underline;
}

h2 {
    text-align: center;
    display: block;
    color: rebeccapurple;
    font-weight: bold;
}

table {
    
    border: 2px solid rebeccapurple;
    display: table;
    text-align: center;
    box-sizing: border-box;
    border-collapse: separate;
    margin: 0 auto;
}

td {
  border-top: 1px solid rebeccapurple;
}

th {
    background-color: rebeccapurple;
    color: white
}
